* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-family: Abhaya Libre;
    margin: 0;
    padding: 0;
}

.linebar {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0;
}

.firstline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    
}

.logotext {
    width: 198px;
    margin-top: 0;
    margin-bottom: 0;
}

.pelogo {
    display: flex;
    justify-content: space-between;
    max-width: 443px;
    align-items: center;

}


.logotext {
    max-width: 180px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
}

.trashclass {
    display: flex;
    justify-content: space-between;
    width: 200px;
    gap: 15px;
}

.starlogo {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 23px;
}
.numb {
    margin-right: 5px;
    font-size: 14px;
    position: absolute;
    top: -7px;
    right: -21px;
    background-color: #e5a21a; 
    color: white; 
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products {
    display: flex;
    align-items: center;
    
}
.trprice {
    width: 132px;
    display: flex;
    align-items: center;
    gap: 13px;

}

.text-block{
    display: flex;
    flex-direction: column;
}


.products img {
    width: 25px;
    height: auto;
}

.products p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.carousel-text {
    color: white;

}


.navigation {
    background-color: #0E2149;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand,
.nav-link {
    color: white;
}

.navigation .container  {
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
    margin: 0 auto;

}

.collapse {
    display: flex;

}

.d-flex {
    max-width: 348px;
    justify-content: space-between;
    background-color: #0E2149;
}

.searchblock{
    display: flex;
    background-color: #253B6A;
    position: relative;
    color: white;
    
}

.product-section {
    background-image: url(../images/generalfood.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 540px;
    color: rgb(57, 56, 77);
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1;

}

.carousel{
    max-width: 100%;
    height: 540px; /* Я помню, что высоту не указывают))) */
}


.product-section-heading {
    font-family: Abhaya Libre;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.product-section-text {
    font-family: Times New Roman;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 32px;
    padding-bottom: 17px;
    max-width: 352px;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 1;
    width: 50px;
    height: 50px;
    left: 10px;
    right: 10px;
}


.butt {
    background-color: #0E2149;
    color: white;
    width: 164px;
    height: 46px;
    margin-top: 17px;
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.car-text1{
    padding-top: 113px;
    
}

.car-text2{
    font-size: 18px;
    width: 352px;
    padding-top: 32px;

}


.category-item1,
.category-item2,
.category-item3 {
    display: flex;
    margin-left: 360px;
    margin-right: 360px;
    margin-top: 63px;
    /*color: white;*/
}

.category-item1 {
    position: absolute;
    width: 237px;
    top: 36px;
}


.line1-sosaage {
    position: relative;
    width: 387px;
    background: radial-gradient(97.05% 95.85% at 94.3% 92.41%, #F7C669 0%, #C5624C 100%), url(/images/sausagelogo.svg); 
    padding-top: 88px;
    padding-left: 28px;
    z-index: 0;

}
.line1-sosaage img {
    position: absolute;
    width: 237px;
    height: auto;
    z-index: 1;

}


.line1 {
    width: 387px;
    background: radial-gradient(97.05% 95.85% at 94.3% 92.41%, #F7C669 0%, #C5624C 100%), url(/images/sausagelogo.svg); 
    padding-top: 88px;
    padding-left: 28px;
}

.line1 h3 {
    max-width: 197px;
    font-family: Abhaya Libre;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.67px;
    text-align: left;
}

