* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-family: Abhaya Libre;
    margin: 0;
    padding: 0;
}

.wraper .container {
    max-width: 1224px;
}

.firstline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    
}

.logotext {
    width: 198px;
    margin-top: 0;
    margin-bottom: 0;
}

.pelogo {
    display: flex;
    justify-content: space-between;
    max-width: 443px;
    align-items: center;

}


.logotext {
    max-width: 180px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
}

.trashclass {
    display: flex;
    justify-content: space-between;
    width: 200px;
    gap: 15px;
}

.starlogo {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 23px;
}
.numb {
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: -21px;
    background-color: #e5a21a; 
    color: white; 
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products {
    display: flex;
    align-items: center;
    
}
.trprice {
    width: 132px;
    display: flex;
    align-items: center;
    gap: 13px;

}

.text-block{
    display: flex;
    flex-direction: column;
}


.products img {
    width: 25px;
    height: auto;
}

.products p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.carousel-text {
    color: white;

}


.navigation {
    background-color: #0E2149;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-item + .nav-item {
    margin-left: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-brand,
.nav-link {
    color: white;
}

.navigation .container  {
    display: flex;
    justify-content: space-between;
}

.collapse {
    display: flex;

}

.searchblock{
    display: flex;
    background-color: #253B6A;
    position: relative;
    color: white;
    
}

.form-control {
    background-color: #253B6A;
}

.product-section {
    position: relative;
    background-image: url(../images/generalfood.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(57, 56, 77);
}


.product-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.36deg, rgba(11, 14, 28, 0.85) 18.46%, rgba(13, 24, 40, 0) 58.9%);
}

.carousel{
    max-width: 100%;
    padding-bottom: 130px;
}

.carousel-indicators {
    bottom: 30px;
}


.product-section-heading {
    font-family: Abhaya Libre;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.product-section-text {
    font-family: Times New Roman;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 32px;
    padding-bottom: 17px;
    max-width: 352px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.form-control {
        
    border: none;
    padding: 0 10px; 
    height: 40px; 
    color: #fff;
    font-size: 16px;
    background-color: transparent; 
    outline: none;
    border-radius: 0px;
        
}

.searchblock button {
    width: 40px; 
    height: 40px;
    background-color: transparent; 
    border: none; 
    background-image: url('../images/glasslogo.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Чтобы не менялся цвет нажатии на поиск и шрифт был белый*/
.form-control:focus {
    background-color: transparent; /* Оставить фон неизменным */
    color: #fff;
    outline: none; /* Убираем обводку */
    box-shadow: none; /* Убираем дополнительный эффект */
}
.form-control::placeholder {
    color: #fff; /* Цвет текста-заполнителя */
    opacity: 0.7; /* Прозрачность (опционально) */
}

.butt {
    background-color: #0E2149;
    color: white;
    width: 164px;
    height: 46px;
    margin-top: 17px;
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.car-text1{
    padding-top: 113px;
    
}

.car-text2{
    font-size: 18px;
    width: 352px;
    padding-top: 32px;

}


.sausage {
    background-image: url(../images/sausagelogo.png), radial-gradient(97.05% 95.85% at 94.3% 92.41%, #F7C669 0%, #C5624C 100%); 
    background-repeat: no-repeat;
    background-position: 100% 100%;

}
.promote-product-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;

}

.category-item {
    flex: 1 1 100%;
    max-width: calc(33.3333% - 20%);
    background-color: #C5624C;
    height: 260px;

}

.category-item-big {
    max-width: calc(50% - 20%);
    height: 260px;


}




/*
.line1 {
    width: 387px;
    background: radial-gradient(97.05% 95.85% at 94.3% 92.41%, #F7C669 0%, #C5624C 100%), url(/images/sausagelogo.svg); 
    padding-top: 88px;
    padding-left: 28px;
}

.line1 h3 {
    max-width: 197px;
    font-family: Abhaya Libre;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.67px;
    text-align: left;
}
*/

